{:deps {babashka/babashka.curl {:mvn/version "0.0.1"}
        hyperfiddle/rcf {:git/url "https://github.com/hyperfiddle/rcf.git"
                         :git/sha "c399b1b621b19dc576ea46cd4b254477e1ca9756"}
        clojure-watch/clojure-watch {:mvn/version "0.1.14"}
        hawk/hawk {:mvn/version "0.2.11"}
        io.methvin/directory-watcher {:mvn/version "0.15.0"}
        com.nextjournal/beholder {:mvn/version "1.0.0"}}}